.send-message-table {
    width: 100%;
}
.contact-send-status {
    background: lightgray;
}

.display-none {
    display: none !important;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-left {
    text-align: left;
}

button {
    border-radius: 5px;
    padding: 1px;
}
